<!DOCTYPE html>
<html lang="{{ conf.lang }}" dir="{{ lang.direction }}">
<head>
    <meta charset="utf-8"/>
    <title>{{ TPL.tpl_pagetitle() }} [{{ conf.title|striptags }}]</title>

    {{ TPL.tpl_metaheaders|raw }}

    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    {{ TPL.tpl_favicon(['favicon', 'mobile'])|raw }}
</head>

<body>
<div id="dokuwiki__top" class="{{ TPL.tpl_classes() }}">

    <header>
        <div class="container">
            {% set logo = TPL.tpl_getMediaFile([':wiki:logo.svg', ':wiki:logo.png', ':wiki:dokuwiki-128.png']) %}
            <div class="branding">
                <a href="{{ TPL.wl() }}"><img src="{{ logo }}" alt="{{ conf.title|striptags }}"/></a>
                <div>
                    <h1 class="wikititle"><a href="{{ TPL.wl() }}">{{ conf.title|raw }}</a></h1>
                    {% if conf.tagline %}<span class="tagline">{{ conf.tagline }}</span>{% endif %}
                </div>
            </div>

            <div>
                <div class="tools">
                    <div class="tools-site">
                        <label class="notos-toggle" for="notos__sitetools">
                            {{ TPL.inlineSVG(TPL.tpl_incdir() ~ '/ico/hammer-wrench.svg')|raw }}
                            <span>{{ lang.site_tools }}</span>
                        </label>
                        <input type="checkbox" class="notos-toggle" id="notos__sitetools">
                        <ul>
                            {{ TPL.menu('site').getListItems('', false)|raw }}
                        </ul>
                    </div>
                    <div class="tools-user">
                        <label class="notos-toggle" for="notos__usertools">
                            {{ TPL.inlineSVG(TPL.tpl_incdir() ~ '/ico/account-cog.svg')|raw }}
                            <span>{{ lang.user_tools }}</span>
                        </label>
                        <input type="checkbox" class="notos-toggle" id="notos__usertools">
                        <ul>
                            {{ TPL.menu('user').getListItems('', false)|raw }}
                        </ul>
                    </div>
                </div>

                {{ TPL.tpl_searchform()|raw }}
            </div>
        </div>
    </header>


    <nav class="container">
        <input class="mobile-menu-btn" type="checkbox" id="notos__menu-btn"/>
        <label class="mobile-menu-icon" for="notos__mobile-menu-btn"><span class="navicon"></span></label>

        {{ SELF.renderNavigation()|raw }}

        {% if ACT == 'show' %}
            <div class="breadcrumbs">
                {{ TPL.tpl_breadcrumbs()|raw }}
            </div>
        {% endif %}

    </nav>

    <main class="container">
        {{ TPL.html_msgarea()|raw }}

        <article>
            {% block content %}
            {% endblock %}
        </article>

        <aside id="dokuwiki__pagetools">
            <div class="tools">
                <ul>
                    {% if TPL.view == 'detail' %}
                        {{ TPL.menu('detail').getListItems('action ')|raw }}
                    {% else %}
                        {{ TPL.menu('page').getListItems('action ')|raw }}
                    {% endif %}
                </ul>
            </div>
        </aside>

    </main>

    <footer>
        <div class="container">
            {{ TPL.tpl_pageinfo()|raw }}
            {{ TPL.tpl_license('')|raw }}
        </div>
    </footer>
</div>

<div class="no">{{ TPL.tpl_indexerWebBug()|raw }}</div>
</body>
