<!DOCTYPE html>
<html lang="{{ conf.lang }}" dir="{{ lang.direction }}">
<head>
    <meta charset="utf-8"/>
    <title>{{ TPL.tpl_pagetitle() }} [{{ conf.title|striptags }}]</title>

    {{ TPL.tpl_metaheaders|raw }}

    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    {{ TPL.tpl_favicon(['favicon', 'mobile'])|raw }}
</head>

<body>
<div id="dokuwiki__top" class="{{ TPL.tpl_classes() }}">

    <header class="notos">
        <div class="container">
            <div class="toprow">
                {% set logo = TPL.tpl_getMediaFile([':wiki:logo.svg', ':wiki:logo.png', ':wiki:dokuwiki-128.png']) %}
                <div class="branding">
                    <a href="{{ TPL.wl() }}"><img src="{{ logo }}" alt="{{ conf.title|striptags }}"/></a>
                    <div>
                        <h1 class="wikititle"><a href="{{ TPL.wl() }}">{{ conf.title|raw }}</a></h1>
                        {% if conf.tagline %}<span class="tagline">{{ conf.tagline }}</span>{% endif %}
                    </div>
                </div>

                <div class="header-controls">
                    <div class="tools">
                        <div class="tool-button">
                            <label class="notos-toggle" for="notos__sitetools">
                                {{ TPL.inlineSVG(TPL.tpl_incdir() ~ '/ico/hammer-wrench.svg')|raw }}
                                <span>{{ lang.tools }}</span>
                            </label>
                            <input type="checkbox" class="notos-toggle" id="notos__sitetools">
                            <div>
                                {% if _SERVER.REMOTE_USER or not conf.tpl.notos.hide_tools %}
                                <ul>
                                    {{ TPL.menu('page').getListItems('', false)|raw }}
                                </ul>
                                <ul>
                                    {{ TPL.menu('site').getListItems('', false)|raw }}
                                </ul>
                                {% endif %}
                                <ul>
                                    {{ TPL.menu('user').getListItems('', false)|raw }}
                                </ul>
                            </div>
                        </div>

                        <div class="tool-login">
                            {{ SELF.loginButton()|raw }}
                        </div>
                    </div>


                    {{ TPL.tpl_searchform()|raw }}
                </div>
            </div>

            {% if _SERVER.REMOTE_USER %}
                <div class="bottom-row">
                    <div class="breadcrumbs">
                        {% if ACT == 'show' %}
                            {{ TPL.tpl_breadcrumbs()|raw }}
                        {% endif %}
                    </div>
                    <div class="user">
                        {{ TPL.userlink()|raw }}
                    </div>
                </div>
            {% endif %}
        </div>
    </header>


    <nav class="notos container">
        <input type="checkbox" id="menu__btn">
        <label class="menu" for="menu__btn">
            <span class="open">{{ TPL.inlineSVG(TPL.tpl_incdir() ~ '/ico/menu.svg')|raw }}</span>
            <span class="close">{{ TPL.inlineSVG(TPL.tpl_incdir() ~ '/ico/close.svg')|raw }}</span>
        </label>
        {{ SELF.renderNavigation()|raw }}
    </nav>

    <main class="notos container">
        {{ TPL.html_msgarea()|raw }}

        <article class="notos">
            {% block content %}
            {% endblock %}
        </article>

        <aside id="dokuwiki__pagetools">
            {% if _SERVER.REMOTE_USER or not conf.tpl.notos.hide_tools %}
            <div class="tools">
                <ul>
                    {% if TPL.view == 'detail' %}
                        {{ TPL.menu('detail').getListItems('action ')|raw }}
                    {% else %}
                        {{ SELF.menu(TPL.tpl_getconf('pagefloat')).getListItems('action ')|raw }}
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        </aside>

    </main>

    <footer class="notos">
        <div class="container">
            {{ TPL.tpl_pageinfo()|raw }}
            {{ TPL.tpl_license('')|raw }}
        </div>
    </footer>
</div>

<div class="no">{{ TPL.tpl_indexerWebBug()|raw }}</div>
</body>
